[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gerrit = {git = "https://github.com/ficoos/python-gerrit.git"}
bruv = {editable = true, path = "."}
bottle = "*"
setuptools = "*"

[dev-packages]

[requires]
python_version = "3.12"

[scripts]
webruv = "python -m bruv.webruvd"
